.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(to bottom right, #319795, #4299e1);
    padding: 1rem;

    &Box {
        padding: 2rem;
        border-radius: 0.75rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
      }
  }